<h3 class="product-details-title">View Product Details</h3>

<div class="product-details-container">

    <div class="product-detail">

        <label class="product-label"><b>Product Id:</b></label> {{ product.productId }}

    </div>

    <div class="product-detail">

        <label class="product-label"><b>Product Name:</b></label> {{ product.productName }}

    </div>

    <div class="product-detail">

        <label class="product-label"><b>Price:</b></label> {{ product.price }}

    </div>

    <div class="product-detail">

        <label class="product-label"><b>Specification:</b></label> {{ product.specification }}

    </div>

    <div class="product-detail">

        <label class="product-label"><b>Quantity:</b></label> {{ product.quantity }}

    </div>

    <div class="product-detail">

        <label class="product-label"><b>Category:</b></label> {{ product.category }}

    </div>

</div>
