<h3>View Customer Details</h3>

<div>

    <div>

        <label> <b> Customer Id:</b></label> {{customer.customerId}}

    </div>

    <div>

        <label> <b> Customer First Name:</b></label> {{customer.firstName}}

    </div>

    <div>

        <label> <b> Customer Last Name:</b></label> {{customer.lastName}}

    </div>

    <div>

        <label> <b> Customer Mobile Number:</b></label> {{customer.mobileNo}}

    </div>

    <div>

        <label> <b> Customer Email:</b></label> {{customer.email}}

    </div>
   

</div>