 <!-- <section>
     <mat-card>
      <mat-card-content>
     <div class="example-label">
    <div class="example-button-row">
        <button mat-raised-button color="primary" (click)= onLogin()>LOGIN </button>
        <button mat-raised-button color="primary"(click)= onRegister()>Register</button>
    </div>
    </div>
    </mat-card-content>
    </mat-card> 
   </section>  -->
<div class="row">
   <div class="col-8">
    <img src="../../assets/images/Screenshot2023-09-11020201.png " width=75% alt="My Image" />
   </div>
   <div class="col-4" style="margin:auto">
        <div class="row">
          <button type="submit" class="btn btn-info btn-block btn-md text-body"  style=" width:60%">
            <a (click)="onClick1()" routerLinkActive="active" class="nav-link" >View All Products</a>
          </button>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-info btn-block btn-md text-body" style=" width:60%">
           <a (click)="onClick2()" routerLinkActive="active" class="nav-link" >View All Categories</a>
           </button>
        </div>
        <div class="row">
          <button type="submit" class="btn btn-info btn-block btn-md text-body" style=" width:60%">
           <a (click)="onClick3()" routerLinkActive="active" class="nav-link" >View All Customers</a>
           </button>
        </div>
    </div>
</div>