<!-- <div class="center">
<h3>View Category Details</h3>

</div> -->
<div>
    <!-- <div>
        <label> <b> category Id:</b></label> {{category.catId}}
    </div>
    <div>
        <label> <b> category Name:</b></label> {{category.catName}}
    </div> -->
    


    <!-- <h3 text-align=center>Category</h3> -->
    <div class="container1">

        
        
        <table class="table">
        
            <thead>
        
                <tr>
        
                    <th>Category Id</th>
        
                    <th>Category Name</th>
        
                </tr>
        
            </thead>
        
            <tbody>
        
                    <td>{{category.catId}}</td>
        
                    <td>{{category.catName}}</td>
        
        
            </tbody>  
        
        </table>
        
        </div>

    <div class="container">

        <h2>Product List of {{category.catName}}</h2>
        
        <table class="table table-striped">
        
            <thead>
        
                <tr>
        
                    <th>Product Id</th>
        
                    <th>Product Name</th>
        
                    <th>Price</th>
        
                    <th>Description</th>
        
                    <th>Quantity</th>
        
                    <th>Category</th>
    
        
                </tr>
        
            </thead>
        
            <tbody>
        
                <tr *ngFor ="let product of products">
        
                    <td>{{product.productId}}</td>
        
                    <td>{{product.productName}}</td>
        
                    <td>{{product.price}}</td>
        
                    <td>{{product.specification}}</td>
        
                    <td>{{product.quantity}}</td>
        
                    <td>{{product.category}}</td>
        
                    
        
                </tr>
        
            </tbody>
        
        </table>
        
        </div>
</div>
