<ng-container *ngIf = "bool">
<nav class="navbar navbar-expand-sm bg-primary navbar-dark custom-navbar">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="../home-page" routerLinkActive="active" class="nav-link" >Home Page</a>
      </li>
      <li class = "nav-item">
          <a routerLink="../log-in" routerLinkActive="active" class="nav-link" >Login</a>
      </li>
      <li class = "nav-item">
          <a routerLink="../register" routerLinkActive="active" class="nav-link" >Register</a>
      </li>
  
</ul>
</nav> 
</ng-container>





<section
  class="vh-100 bg-image">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card bg-info" style="border-radius: 15px">
            <div class="card-body p-4">
              <h2 class="text-uppercase text-center mb-4">New Registeration</h2>

              <form [formGroup]="RegisterForm" (ngSubmit)="userRegister()">
                <div class="form-outline mb-4">
                  <input
                    type="text"
                    id="form3Example1cg"
                    class="form-control form-control-lg"
                    formControlName="userName"
                  />
                  <label class="form-label" for="form3Example1cg"
                    >Username</label>
                    <div *ngIf="RegisterForm.get('userName')?.hasError('required') && RegisterForm.get('userName')?.touched" class="text-danger">
                      Username is required.
                    </div>
                    <div *ngIf="RegisterForm.get('userName')?.hasError('minlength') && RegisterForm.get('userName')?.touched" class="text-danger">
                      Username must be at least 3 characters long.
                    </div>
                    <div *ngIf="RegisterForm.get('userName')?.hasError('maxlength') && RegisterForm.get('userName')?.touched" class="text-danger">
                      Username cannot exceed 50 characters.
                    </div>
                </div>

                <!-- <div class="form-outline mb-4">
                  <input
                    type="email"
                    id="form3Example3cg"
                    class="form-control form-control-lg"
                    formControlName="email"
                  />
                  <label class="form-label" for="form3Example3cg"
                    >Your Email</label
                  >
                </div> -->

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cg"
                    class="form-control form-control-lg"
                    formControlName="password"
                  />
                  <label class="form-label" for="form3Example4cg"
                    >Password</label>
                    <div *ngIf="RegisterForm.get('password')?.hasError('required') && RegisterForm.get('password')?.touched" class="text-danger">
                      Password is required.
                    </div>
                    <div *ngIf="RegisterForm.get('password')?.hasError('minlength') && RegisterForm.get('password')?.touched" class="text-danger">
                      Password must be at least 6 characters long.
                    </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    type="password"
                    id="form3Example4cdg"
                    class="form-control form-control-lg"
                    formControlName="confirmPassword"
                  />
                  <label class="form-label" for="form3Example4cdg"
                    >Repeat your password</label>
                    <div *ngIf="RegisterForm.get('confirmPassword')?.hasError('required') && RegisterForm.get('confirmPassword')?.touched" class="text-danger">
                      Confirm Password is required.
                    </div>
                    <!-- Add custom validation logic for matching passwords -->
                    <div *ngIf="RegisterForm.get('confirmPassword')?.hasError('passwordMismatch')" class="text-danger">
                      Passwords do not match.
                    </div>
                    <div *ngIf="!passwordsMatch" class="text-danger">
                      Passwords do not match.
                    </div>
                </div>

                <!-- <div class="form-check d-flex justify-content-center mb-5">
                  <input
                    class="form-check-input me-2"
                    type="checkbox"
                    value=""
                    id="form2Example3cg"
                  />
                         <label class="form-check-label" for="form2Example3g">
                          I agree all statements in
                           <a href="#!" class="text-body"><u>Terms of service</u></a>
                           </label>
                </div> -->

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-primary btn-block btn-lg text-body" 
                  >
                  <a  routerLinkActive="active" class="nav-link" >Register</a>
                  
                  </button>
                </div>

                <p class="text-center text-muted mt-1 mb-0">
                  Have already an account?
                  <a href="#!" class="fw-bold text-body"><u>Login here</u></a>
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> 
